<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="~{layout/layout.html :: head}"></head>
<body>
	<!-- Header -->
	<div th:replace="~{layout/layout.html :: nav}"></div>
	<!-- Fin Header -->

	<!-- Contenido de la Pagina -->
	<div class="container-fluid text center mt-5">
		<div class="row justify-content-evenly">
			<div class="col-md-4">
				<div class="row mb-2">
					<div class="col-2" th:each="user : ${usuarios}">
						<img th:src="${user.imgPerfil.url}" style="width: 4rem; border-radius: 50%; border: solid 2px #0095F6; max-height: 4rem;">
						<p class=" text-truncate"><small th:text="${user.username}"></small></p>
					</div>
				</div>
				<div class="border-bottom mb-3" th:each="publicacion : ${publicaciones}">
					<div class="card-body">
						<div class="row">
							<div class="col-auto pr-0">
								<img th:src="${publicacion.usuario.imgPerfil.url}" style="width: 3rem; border-radius: 50%;">
							</div>
							<div class="col">
								<h6 class="card-title" th:text="${publicacion.usuario.username}"></h6>
								<p class="card-text text-secondary" th:text="${publicacion.ubicacion}"></p>
							</div>
						</div>
					</div>
					<div th:each="imagen : ${publicacion.imagenes}">
						<img th:src="${imagen.url}" class="card-img-top">
					</div>
					<div>
						<a href="#" class="card-link link-dark"><i class="fs-4 bi bi-suit-heart"></i></a>
						<a th:href="'#comentario'+${publicacion.id}" class="card-link link-dark"><i class="fs-4 bi bi-chat-dots"></i></a>
						<a href="#" class="card-link link-dark"><i class="fs-4 bi bi-send"></i></a>
					</div>
					<div>
						<p class="card-title"><strong>Le gusta a </strong><span th:each="like : ${publicacion.likes}"><span th:text="${like.usuario.username}+', '"></span></span></p>
					</div>
					<div>
						<p class="card-title">
							<strong><span th:text="${publicacion.usuario.username}"></span></strong> <span th:text="${publicacion.titulo}"></span>
						</p>
					</div>
					<div th:each="comentario : ${publicacion.comentarios}">
						<strong><span th:text="${comentario.usuario.username}"></span></strong> <span th:text="${comentario.mensaje}"></span>
					</div>
					<div class="mb-4">
						<form th:action="@{/cuenta/agregarComentario/}+${publicacion.id}" method="post">
							  <input name="comentario" th:id="'comentario'+${publicacion.id}" type="text" placeholder="Agregar un comentario..." style="border: none;">
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- FIN Contenido de la Pagina -->

	<!-- Footer -->
	<footer th:replace="~{layout/layout.html :: footer}"></footer>
	<!-- FIN Footer -->
</body>
</html>