<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="~{layout/layout.html :: head}"></head>
<body>
	<!-- Header -->
	<div th:replace="~{layout/layout.html :: nav}"></div>
	<!-- Fin Header -->

	<!-- Contenido de la Pagina -->
	<div class="container-fluid text center mt-5">
		<div class="row justify-content-evenly">
			<div class="col-md-4">
				<div class="row mb-2">
					<div class="col text-center" th:each="user : ${usuarios}" style="max-width: 5rem;">
						<img th:src="${user.imgPerfil.url}" class="img-historia">
						<p class="text-truncate"><small th:text="${user.username}"></small></p>
					</div>
				</div>
				<div class="border-bottom mb-3" th:each="publicacion : ${publicaciones}">
					<div>
						<div class="row">
							<div class="col-auto pr-0">
								<img th:src="${publicacion.usuario.imgPerfil.url}" class="img-perfil-publi">
							</div>
							<div class="col">
								<h6 class="card-title" th:text="${publicacion.usuario.username}"></h6>
								<p class="card-text text-secondary" th:text="${publicacion.ubicacion}"></p>
							</div>
						</div>
					</div>
					<div th:each="imagen : ${publicacion.imagenes}">
						<img th:src="${imagen.url}" class="card-img-top">
					</div>
					<div>
						<form th:action="@{/cuenta/agregarQuitarLike/}+${publicacion.id}">
							<button type="submit" class="btn-like" th:if="${publicacion.likes.size()}==0">
								<i class="fs-4 bi bi-suit-heart text-dark"></i>
							</button>
							<button type="submit" class="btn-like" th:unless="${publicacion.likes.size()}==0" th:with="tieneLike=${#lists.contains(publicacion.likes.![usuario.id], usuario.id)}">
								<i th:if="${tieneLike}" class="fs-4 bi bi-suit-heart-fill text-danger"></i>
								<i th:unless="${tieneLike}" class="fs-4 bi bi-suit-heart text-dark"></i>
							</button>
							<a th:href="'#comentario'+${publicacion.id}" class="card-link link-dark"><i class="fs-4 bi bi-chat-dots me-2"></i></a>
							<a href="#" class="card-link link-dark"><i class="fs-4 bi bi-send"></i></a>
						</form>
					</div>
					<div th:if="${publicacion.likes.size()}>0">
						<p class="card-title text-truncate"><strong>Le gusta a </strong><span th:each="like : ${publicacion.likes}"><span th:text="${like.usuario.username}+', '"></span></span></p>
					</div>
					<div>
						<p class="card-title">
							<strong><span th:text="${publicacion.usuario.username}"></span></strong> <span th:text="${publicacion.titulo}"></span>
						</p>
					</div>
					<div th:each="comentario : ${publicacion.comentarios}">
						<strong><span th:text="${comentario.usuario.username}"></span></strong> <span th:text="${comentario.mensaje}"></span>
					</div>
					<div class="mb-4">
						<form th:action="@{/cuenta/agregarComentario/}+${publicacion.id}" method="post">
							  <input name="comentario" th:id="'comentario'+${publicacion.id}" type="text" placeholder="Agregar un comentario..." class="input-comentario">
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- FIN Contenido de la Pagina -->

	<!-- Footer -->
	<footer th:replace="~{layout/layout.html :: footer}"></footer>
	<!-- FIN Footer -->
</body>
</html>