<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="~{layout/layout.html :: head}"></head>
<body>
	<!-- Header -->
	<div th:replace="~{layout/layout.html :: nav}"></div>
	<!-- Fin Header -->

	<!-- Contenido de la Pagina -->
	<div class="container-fluid text center mt-2">
		<div class="row justify-content-center">
			<div class="col-md-7 espacio">
				<div th:if="${param.existe_u}" class="alert alert-danger alert-dismissible fade show" role="alert">
				  Existe un usuario con el nombre solicitado, intenta con otro.
				  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
				<div th:if="${param.img_error}" class="alert alert-danger alert-dismissible fade show" role="alert">
				  No es posible cargar este tipo de archivos. Solo JPG, JPEG, PNG.
				  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
				<div th:if="${param.act_e}" class="alert alert-success alert-dismissible fade show" role="alert">
				  Sus datos se modificaron con exito!
				  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
				<div class="row align-items-center">
					<div class="col-md-3 ms-5">
						<img th:src="${usuarioPerfil.imgPerfil.url}" class="img-usuario-perfil">
					</div>
					<div class="col-md-8">
						<div class="row align-items-center justify-content-start my-3">
							<div class="col-md-auto">
								<h5 class="m-0" th:text="${usuarioPerfil.username}"></h5>
							</div>
							<div class="col-md-auto" th:if="${usuario==usuarioPerfil}">
								<button class="btn btn-light" data-bs-toggle="modal" data-bs-target="#editarDatos">Editar perfil <i class="fs-5 bi bi-gear-wide"></i></button>
							</div>
							<div class="col-md-auto" th:unless="${usuario==usuarioPerfil}">
								<div class="dropdown">
								  <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-person"></i> Seguido</button>
								  <ul class="dropdown-menu">
								    <li><a class="dropdown-item" th:unless="${seguido}" th:href="@{/cuenta/seguir/}+${usuarioPerfil.id}"><i class="bi bi-check"></i> Seguir</a></li>
								    <li><a class="dropdown-item" th:if="${seguido}" th:href="@{/cuenta/dejarDeSeguir/}+${usuarioPerfil.id}"><i class="bi bi-x"></i> Dejar de seguir</a></li>
								  </ul>
								</div>
							</div>
						</div>
						<div class="row my-3">
							<div class="col-md-auto me-3">
								<p class="m-0"><span th:text="${usuarioPerfil.publicaciones.size()}"><strong></strong></span> publicaciones</p>
							</div>
							<div class="col-md-auto me-3">
								<p class="m-0"><a><span th:text="${usuarioPerfil.seguidores.size()}"><strong></strong></span> <span>seguidores</span></a></p>
							</div>
							<div class="col-md-auto me-3">								
								<p class="m-0"><a><span th:text="${usuarioPerfil.seguidos.size()}"><strong></strong></span> <span>seguidos</span></a></p>
							</div>
						</div>
						<div class="row my-3">
							<div class="col-md-6">
								<h6 class="m-0" th:text="${usuarioPerfil.nombre}+' '+${usuarioPerfil.apellido}"></h6>
								<p class="m-0 text-secondary"><small th:text="${usuarioPerfil.info1}">Info adicional 1</small></p>	
								<p class="m-0 text-secondary"><small th:text="${usuarioPerfil.info2}">Info adicional 2</small></p>					
							</div>
						</div>
					</div>
				</div>

				<div class="row justify-content-center text-center mt-3 border-top border-secondary">
					<div class="col-md-2">
						<a th:if="${vista}==1" th:href="@{/}+${usuarioPerfil.username}+'/'" class="link-secondary link-offset-3 link-underline link-underline-opacity-0 border-top border-2 border-secondary"><i class="bi bi-table"></i> <small>PUBLICACIONES</small></a>
						<a th:unless="${vista}==1" th:href="@{/}+${usuarioPerfil.username}+'/'" class="link-secondary link-underline link-underline-opacity-0 link-offset-3"><i class="bi bi-table"></i> <small>PUBLICACIONES</small></a>
					</div>
					<div class="col-md-2">
						<a th:if="${vista}==2" th:href="@{/}+${usuarioPerfil.username}+'/reels'" class="link-secondary link-offset-3 link-underline link-underline-opacity-0 border-top border-2 border-secondary"><i class="bi bi-camera-reels"></i> <small>REELS</small></a>
						<a th:unless="${vista}==2"th:href="@{/}+${usuarioPerfil.username}+'/reels'" class="link-secondary link-underline link-underline-opacity-0 link-offset-3"><i class="bi bi-camera-reels"></i> <small>REELS</small></a>
					</div>
					<div class="col-md-2" th:if="${usuario==usuarioPerfil}">
						<a th:if="${vista}==3" th:href="@{/}+${usuarioPerfil.username}+'/saved'" class="link-secondary link-offset-3 link-underline link-underline-opacity-0 border-top border-2 border-secondary"><i class="bi bi-bookmark"></i> <small>GUARDADO</small></a>
						<a th:unless="${vista}==3"th:href="@{/}+${usuarioPerfil.username}+'/saved'" class="link-secondary link-underline link-underline-opacity-0 link-offset-3"><i class="bi bi-bookmark"></i> <small>GUARDADO</small></a>
					</div>
					<div class="col-md-2" th:unless="${usuario==usuarioPerfil}">
						<a th:if="${vista}==4" th:href="@{/}+${usuarioPerfil.username}+'/tagged'" class="link-secondary link-offset-3 link-underline link-underline-opacity-0 border-top border-2 border-secondary"><i class="bi bi-person-video"></i> <small>ETIQUETADAS</small></a>
						<a th:unless="${vista}==4"th:href="@{/}+${usuarioPerfil.username}+'/tagged'" class="link-secondary link-underline link-underline-opacity-0 link-offset-3"><i class="bi bi-person-video"></i> <small>ETIQUETADAS</small></a>
					</div>
				</div>
		
				<div class="row justify-content-start align-items-center">
					<div class="col-md-4 p-1" th:each="publicacion : ${publicaciones}">
						<a type="button" data-bs-toggle="modal" th:data-bs-target="'#modalPubli'+${publicacion.id}">
							<img th:each="imagen : ${publicacion.imagenes}" th:src="${imagen.url}" class="img-fluid">
						</a>
						<!-- Modal -->
						<div class="modal modal-xl fade" th:id="'modalPubli'+${publicacion.id}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
						  <div class="modal-dialog ">
						    <div class="modal-content">
						    	<div class="modal-body"> 
						        	<div class="row">
						        		<div class="col-md-7">
						        			<img th:each="imagen : ${publicacion.imagenes}" th:src="${imagen.url}" class="img-fluid">
						        		</div>
						        		<div class="col-md-5 d-flex align-items-start flex-column mb-3">
						        			<div class="row mb-auto p-2">
							        			<div class="modal-header mb-1 pt-0">
											        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
											    </div>
												<div>
													<p class="card-title mb-1">
														<a th:href="@{/}+${publicacion.usuario.username}+'/'" th:text="${publicacion.usuario.username}" class="link-dark link-underline-opacity-0 fw-bold"></a> <span th:text="${publicacion.titulo}"></span>
													</p>
												</div>
												<div th:each="comentario : ${publicacion.comentarios}">
													<strong><span th:text="${comentario.usuario.username}"></span></strong> <span th:text="${comentario.mensaje}"></span>
												</div>
												<div class="mb-4">
													<form th:action="@{/cuenta/agregarComentario/}+${publicacion.id}" method="post">
														  <input name="comentario" th:id="'comentario'+${publicacion.id}" type="text" placeholder="Agregar un comentario..." class="input-comentario">
													</form>
												</div>
											</div>
											<div class="row p-2">
												<div>
													<div th:if="${publicacion.likes.size()}>0">
														<p class="card-title text-truncate mb-1"><strong>Le gusta a </strong><span th:each="like : ${publicacion.likes}"><span th:text="${like.usuario.username}+', '"></span></span></p>
													</div>
													<form th:action="@{/cuenta/agregarQuitarLike/}+${publicacion.id}">
														<button type="submit" class="btn-like" th:if="${publicacion.likes.size()}==0">
															<i class="fs-4 bi bi-suit-heart text-dark"></i>
														</button>
														<button type="submit" class="btn-like" th:unless="${publicacion.likes.size()}==0" th:with="tieneLike=${#lists.contains(publicacion.likes.![usuario.id], usuario.id)}">
															<i th:if="${tieneLike}" class="fs-4 bi bi-suit-heart-fill text-danger"></i>
															<i th:unless="${tieneLike}" class="fs-4 bi bi-suit-heart text-dark"></i>
														</button>
														<a th:href="'#comentario'+${publicacion.id}" class="card-link link-dark"><i class="fs-4 bi bi-chat-dots me-2"></i></a>
														<a href="#" class="card-link link-dark"><i class="fs-4 bi bi-send"></i></a>
													</form>
												</div>
											</div>
						        		</div>
						        	</div>
						      </div>
						    </div>
						  </div>
						</div>
						<!-- FIN Modal -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- FIN Contenido de la Pagina -->
	
	<!-- Modal crear publicacion -->
	<div class="modal fade" id="editarDatos" tabindex="-1" aria-hidden="true" aria-labelledby="exampleModalLabel">
	  <div class="modal-dialog modal-dialog-centered">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h1 class="modal-title fs-5">Editar datos de la cuenta</h1>
	        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	      </div>
	      <div class="modal-body">
	        <form th:action="@{/cuenta/actualizarFotoPerfil}" method="post" enctype="multipart/form-data">
			  <div class="mb-3">
			    <label for="img" class="form-label">Foto de perfil:</label>
			    <input accept="image/png,image/jpeg,image/jpg" type="file" class="form-control" id="img" name="img" required>
			  </div>
			  <div class="mb-3">
			    <label for="efecto" class="form-label">Efectos:</label>
			    <select class="form-select" id="efecto" name="efecto">
				  <option selected value="">-- Sin efecto --</option>
				  <option value="cartoonify">Caricatura</option>
				  <option value="grayscale">Escala de grises</option>
				  <option value="improve:50">Mejorada</option>
				  <option value="sepia">Sepia</option>
				</select>
			  </div>
			  <div class="text-center">
			  	<button type="submit" onclick="spinner_visible();" class="link-info link-offset-2 link-underline link-underline-opacity-0 btn-publicar"><strong>Actualizar imagen</strong>
			  		<div id="spinner-img" class="spinner-border text-info text-center spinner-border-sm" role="status"></div>
			  	</button>
			  </div>
	        </form>
	        <form th:action="@{/cuenta/actualizarDatos}" method="post">
        	  <input type="hidden" id="id" name="id" th:value="${usuarioPerfil.id}">
        	  <div class="mb-3">
			    <label for="username" class="form-label">Username:</label>
			    <input type="text" class="form-control" id="username" name="username" th:value="${usuarioPerfil.username}">
			  </div>
			  <div class="mb-3">
			    <label for="password" class="form-label">Contraseña:</label>
			    <input type="password" class="form-control" id="password" name="password" autocomplete="off">
			  </div>
			  <div class="mb-3">
			    <label for="info1" class="form-label">Info adicional 1:</label>
			    <input type="text" class="form-control" id="info1" name="info1" th:value="${usuarioPerfil.info1}">
			  </div>
			  <div class="mb-3">
			    <label for="info2" class="form-label">Info adicional 2:</label>
			    <input type="text" class="form-control" id="info2" name="info2" th:value="${usuarioPerfil.info2}">
			  </div>
			  <div class="text-center">
			  	<button type="submit" class="link-info link-offset-2 link-underline link-underline-opacity-0 btn-publicar"><strong>Actualizar datos</strong></button>
			  </div>
	        </form>
	      </div>
	    </div>
	  </div>
	</div>
	<!-- FIN Modal crear publicacion -->

	<!-- Scripts -->
	<div th:replace="~{layout/layout.html :: scripts}"></div>
	<!-- FIN Scripts -->
</body>
</html>