<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="~{layout/layout.html :: head}"></head>
<body>
	<!-- Header -->
	<div th:replace="~{layout/layout.html :: nav}"></div>
	<!-- Fin Header -->

	<!-- Contenido de la Pagina -->
	<div class="container-fluid text center mt-2">
		<div class="row justify-content-center">
			<div class="col-md-7 espacio">
				<div class="row align-items-center">
					<div class="col-md-3 ms-5">
						<img th:src="${usuarioPerfil.imgPerfil.url}" class="img-usuario-perfil">
					</div>
					<div class="col-md-8">
						<div class="row align-items-center justify-content-start my-3">
							<div class="col-md-auto">
								<h5 class="m-0" th:text="${usuarioPerfil.username}"></h5>
							</div>
							<div class="col-md-auto">
								<button class="btn btn-light">Editar perfil <i class="fs-5 bi bi-gear-wide"></i></button>
							</div>
						</div>
						<div class="row my-3">
							<div class="col-md-auto me-3">
								<p class="m-0"><span th:text="${publicaciones.size()}"><strong></strong></span> publicaciones</p>
							</div>
							<div class="col-md-auto me-3">
								<p class="m-0"><a><span th:text="${usuarioPerfil.seguidores.size()}"><strong></strong></span> <span>seguidores</span></a></p>
							</div>
							<div class="col-md-auto me-3">								
								<p class="m-0"><a><span th:text="${usuarioPerfil.seguidos.size()}"><strong></strong></span> <span>seguidos</span></a></p>
							</div>
						</div>
						<div class="row my-3">
							<div class="col-md-6">
								<h6 class="m-0" th:text="${usuarioPerfil.nombre}+' '+${usuarioPerfil.apellido}"></h6>
								<p class="m-0 text-secondary"><small>Info adicional</small></p>		
								<p class="m-0 text-secondary"><small>del usuario</small></p>						
							</div>
						</div>
					</div>
				</div>
				
				<hr class="my-1">
				
				<div class="row justify-content-center text-center" th:each="publicacion : ${publicaciones}">
					<div class="col-md-2">
						<a href="#" class="link-secondary link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"><i class="bi bi-table"></i> <small>PUBLICACIONES</small></a>
					</div>
					<div class="col-md-2">
						<a href="#" class="link-secondary link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"><i class="bi bi-camera-reels"></i> <small>REELS</small></a>
					</div>
					<div class="col-md-2">
						<a href="#" class="link-secondary link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"><i class="bi bi-bookmark"></i> <small>GUARDADO</small></a>
					</div>
				</div>
				
				<div class="row justify-content-start align-items-center" th:each="publicacion : ${publicaciones}">
					<div th:each="imagen : ${publicacion.imagenes}" class="col-md-4 p-1">
						<img th:src="${imagen.url}" class="img-fluid">
					</div>
					<div class="col-md-4 p-1">
						<img src="https://copadas.cl/wp-content/uploads/2020/12/3920358.jpg" class="img-fluid">
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- FIN Contenido de la Pagina -->

	<!-- Scripts -->
	<div th:replace="~{layout/layout.html :: scripts}"></div>
	<!-- FIN Scripts -->
</body>
</html>