.espacio {
	margin-left: 15rem;
}

.logo-nav {
	max-width: 60%;
}

.img-perfil-nav {
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 50%;
}

.col-historia {
	max-width: 4.5rem;
}

.img-historia {
	width: 3.5rem;
	height: 3.5rem;
	border-radius: 50%;
	border: solid 2.5px #ED017E;
}

.img-sugeridos {
	width: 3.5rem;
	height: 3.5rem;
	border-radius: 50%;
}

.img-perfil-publi {
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
}

.input-comentario {
	border: none;
	width: 90%;
}

.input-comentario:focus {
	outline: none;
}

.btn-like {
	background: transparent;
	border: none;
}

.img-usuario-perfil {
	width: 10rem;
	height: 10rem;
	border-radius: 50%;
	border: solid 2.6px lightgray;
}

.btn-publicar {
	background-color: transparent;
	border: none;
}

#spinner-img{
	display: none;
}

.img-perfil-seg {
	width: 2rem;
	height: 2.5rem;
	border-radius: 50%;
}

#nro-notificacion{
	font-size: 0.8rem;
	background: red;
	border-radius: 50%;
	color: white;
}

.btn-azul{
	background-color: #0095F6;
	color: white;
}

.btn-gris{
	background-color: #EFEFEF;
	font-weight: 500;
}