.bg_white{
	background-color: white;
}

.espacio {
	margin-left: 15rem;
}

.logo-nav {
	max-width: 60%;
}

.img-perfil-nav {
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 50%;
}

.col-historia {
	max-width: 4.5rem;
}

.img-historia {
	width: 3.5rem;
	height: 3.5rem;
	border-radius: 50%;
	border: solid 2.5px #ED017E;
}

.img-sugeridos {
	width: 3.5rem;
	height: 3.5rem;
	border-radius: 50%;
}

.img-perfil-publi {
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
}

.input-comentario {
	border: none;
	width: 90%;
}

.input-comentario:focus {
	outline: none;
}

.btn-like {
	background: transparent;
	border: none;
}

.img-usuario-perfil {
	width: 10rem;
	height: 10rem;
	border-radius: 50%;
	border: solid 2.6px lightgray;
}

.btn-publicar {
	background-color: transparent;
	border: none;
}

.img-perfil-seg {
	width: 2rem;
	height: 2.5rem;
	border-radius: 50%;
}

#nro-notificacion{
	font-size: 0.8rem;
	background: red;
	border-radius: 50%;
	color: white;
}

.btn-azul{
	background-color: #0095F6;
	color: white;
}

.btn-gris{
	background-color: #EFEFEF;
	font-weight: 500;
}

.img-chat {
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	border: solid 1px lightgray;
}

.chat {
	height: calc(100vh - 3rem);
	max-height: calc(100vh - 3rem);
}

.bg_chat{
	background-color: #FAFAFA;
}

.chat_cuerpo{
	margin: 1rem;
	height: 80%;
	vertical-align:text-bottom;	
}

.chat_msj_propio{
	background-color: #EFEFEF;	
	padding: 0.5rem;
	margin: 0.5rem;
	border-radius: 30px;
}

.chat_msj_particip{	
	padding: 0.5rem;
	margin: 0.5rem;
	border-radius: 30px;
	border: solid 1px lightgray;
}

.input-chat {
	border: solid 1px lightgray;
	border-radius: 30px;
	width: 90%;
	padding: 0.5rem;
}

.input-chat:focus {
	outline: none;
}