<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="~{layout/layout.html :: head}"></head>
<body>
	<!-- Header -->
	<div th:replace="~{layout/layout.html :: nav}"></div>
	<!-- Fin Header -->

	<!-- Contenido de la Pagina -->
	<div class="container-fluid text center mt-5">
		<div class="row justify-content-evenly">
			<div class="col-md-4">
				<h3>Left Sidebar with Submenus</h3>
				<p class="lead">An example 2-level sidebar with collasible menu
					items. The menu functions like an "accordion" where only a single
					menu is be open at a time. While the sidebar itself is not
					toggle-able, it does responsively shrink in width on smaller
					screens.</p>
			</div>
		</div>
	</div>
	<!-- FIN Contenido de la Pagina -->

	<!-- Footer -->
	<footer th:replace="~{layout/layout.html :: footer}"></footer>
	<!-- FIN Footer -->
</body>
</html>
>
</html>