<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="~{layout/layout.html :: head}"></head>
<body>
	<div class="container-fluid text-center my-5">
		<div class="row justify-content-center">
			<div class="col-3">
				<img class="img-fluid" alt="demo-insta"
					src="https://res.cloudinary.com/da52tfqfk/image/upload/v1683017554/instagram/login-insta_jtdahx.png">
			</div>
			<div class="col-3">
				<div class="card mb-3">
					<div class="card-body p-4">
						<form th:action="@{/login}" method="post">
							<div class="mb-5">
								<img
									src="https://res.cloudinary.com/da52tfqfk/image/upload/v1683017554/instagram/instagram-n_m1gnjx.png"
									class="img-fluid">
							</div>
							<div class="mb-3">
								<input type="email" class="form-control" id="username"
									name="username" placeholder="Correo electrónico" required>
							</div>
							<div class="mb-3">
								<input type="password" class="form-control" id="password"
									name="password" placeholder="Contraseña" required>
							</div>
							<p th:if="${param.error}" class="text-danger text-left">
								<small>Email o contraseña incorrectos</small>
							</p>
							<div class="d-grid gap-2 mb-3">
								<button type="submit" class="btn btn-primary btn-azul">
									<strong>Iniciar sesión</strong>
								</button>
							</div>
						</form>
						<hr>
						<div class="mt-3">
							<a href="#"
								class="link-primary link-offset-2 link-underline link-underline-opacity-0"><i
								class="bi bi-facebook"></i> Iniciar sesión con Facebook</a>
						</div>
					</div>
				</div>
				<div class="card p-4">
					<p class="m-0">
						¿No tienes una cuenta? <strong><a
							class="link-info link-offset-2 link-underline link-underline-opacity-0"
							th:href="@{/registro}">Regístrate</a></strong>
					</p>
				</div>
				<div>
					<p class="my-2">Descarga la app.</p>
				</div>
			</div>
		</div>
	</div>

	<!-- Footer -->
	<footer th:replace="~{layout/layout.html :: footer}"></footer>
	<!-- FIN Footer -->

	<!-- Scripts -->
	<div th:replace="~{layout/layout.html :: scripts}"></div>
	<!-- FIN Scripts -->
</body>
</html>